
<%include ../include/header.ejs%>


 <div id="LOG" style="width:700px; height:400px; margin:100px auto;background-image:url(../images/ccc.png);">
                    <
        <h3>This is Final Year Project</h3>
        <h3>Software Development</h3>
        <H3>HaoYu Wang</h3>
            
                    
</div>

<%include ../include/footer.ejs%>