
<%include ../include/header.ejs%>


 <div id="LOG" style="width:700px; height:400px; margin:100px auto;background-image:url(../images/ccc.png);">
                    <
       <h3>Email: XXXXXXX@GMAIL.com</h3>
        <h3>Phone: 123456788</h3>  
                    
</div>

<%include ../include/footer.ejs%>