<%include ../include/header.ejs%>
<%include ../include/header_usermanage.ejs%>
<% include ../include/itemsAdd.js%>
<td>
<div style="float:right;width:900px; height:400px; margin:50px auto;">
<body leftmargin="0" rightmargin="0" topmargin="0">
	<div id="popLayer" style="position: absolute; z-index: 1000;"
		class="cPopText"></div>

	<table style="table-layout: fixed;" align="center" border="0"
		width="97%">
		<tbody>
			<tr>
				<h1 class="nav" align="left" nowrap="nowrap" width="90%">Shopping
					&#187; Create a Item</h1>
				<td align="right" width="10%">&nbsp;<a href="#bottom"><img
						src="" align="absmiddle" border="0"></a></td>
			</tr>
		</tbody>
	</table>

	<form method="post" name="register">
		<input type="hidden" name="action" value="modify" />
        
        <font style="font-weight:bold;font-style:italic;" size=3>
		<table align="center" cellpadding="4" cellspacing="100" width="97%" font>
			<tbody>
				<tr>
					<td colspan="2" class="header">Modify - Necessary Content</td>
				</tr>

				<tr>
					<td  width="21%">Username :</td>
					<td ><input name="username" id="username" size="25"
						maxlength="25" type="text" readonly value="<%= username%>">
					</td>
				</tr>
				
				<tr>
					<td>Location : </td>
					<td><select id="location">
						<option value="Dublin">Dublin</option>
						<option value="Galway">Galway</option>
						<option value="Cork">Cork</option>
						<option value="Waterford">Waterford</option>
						<option value="Belfast">Belfast</option>
						<option value="Derry">Derry</option>
						<option value="Drogheda">Drogheda</option>
						<option value="Sligo">Sligo</option>
						<option value="Dundalk">Dundalk</option>
						<option value="Wexford">Wexford</option>
						<option value="Bray">Bray</option>
						<option value="Ennis">Ennis</option>
					</select></td>
				</tr>
				
				<tr>
					<td>Category : </td>
					<td><select id="category">
						<option value="Book">Book</option>
						<option value="Movies, Music & Games">Movies, Music & Games</option>
						<option value="Toys">Toys</option>
						<option value="Sports & Outdoors">Sports & Outdoors</option>
						<option value="Handmade">Handmade</option>
						<option value="Furniture">Furniture</option>
						<option value="Drogheda">Drogheda</option>
						<option value="Sligo">Sligo</option>
						<option value="Dundalk">Dundalk</option>
						<option value="Wexford">Wexford</option>
						<option value="Bray">Bray</option>
						<option value="Ennis">Ennis</option>
					</select></td>
				</tr>
				
				<tr>
					<td >Product Name:</td>
					<td ><input name="itemname" type="text" id="itemname"
						size="25" value=""></td>
				</tr>
				
				<tr>
					<td > picture : </td>
					<td> <input type="file" id='picture' name='picture'></input></td>
				</tr>
				
				<tr>
					<td >Price:</td>
					<td ><input name="price" type="text" id="price"
						size="25" value=""></td>
				</tr>
				
				<tr>
					<td >salers contact phone number:</td>
					<td ><input name="phone" type="text" id="phone"
						size="25" value=""></td>
				</tr>

				<tr>
					<td  valign="top">Description :</td>
					<td ><textarea name="description" cols="60" rows="5"
							id="description"></textarea></td>
				</tr>
			</tbody>
		</table>
		<br>
        </font>
		<center>
            <input id="submititem" name="submititem" method ="POST" type="button" value="Submit" class="btn btn-info"/> 
		</center>
	</form>
</div>
</td>
</table>
<%include ../include/footer.ejs%>