<style>
.footer-left li{
    display:block;
}
.soci li{
    display:block;
}
i.facebk {
  width: 32px;
  height: 32px;
  background: url(../images/social.png)no-repeat -5px -43px;
  float: left;
  vertical-align: middle;
}
i.facebk:hover {
  background: url(../images/social.png)no-repeat -6px -4px;
}
i.twter {
  width: 32px;
  height: 32px;
  background: url(../images/social.png)no-repeat -43px -44px;
  float: left;
  vertical-align: middle;
}
i.twter:hover {
  background: url(../images/social.png)no-repeat -43px -4px;
}
i.goopl {
  width: 32px;
  height: 32px;
  background: url(../images/social.png)no-repeat -83px -44px;
  float: left;
  vertical-align: middle;
}
i.goopl:hover {
  background: url(../images/social.png)no-repeat -83px -4px;
}
i.insta {
  width: 32px;
  height: 32px;
  background: url(../images/social.png)no-repeat -123px -44px;
  float: left;
  vertical-align: middle;
}
i.insta:hover {
  background: url(../images/social.png)no-repeat -123px -4px;
}
</style>
</body>
<footer>
<div class="footer" style="background:#C1FFC1 ; font-weight: 700;font-family: Overlock-Regular;">
	<table>
		
		<div class="container">
			<tr>
			<div class="col-md-3 footer-left">
				<h3>Navigation</h3>
				<li><a href="">About</a></li>
				<li><a href="">Services</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Contact</a></li>
			</div></tr>
			
		<tr>	<div class="col-md-3 footer-left">
				<h3>For Members</h3>
				<li><a href="#">Forums</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="login.ejs">Sign In</a></li>
				<li><a href="#">News</a></li>
			</div></tr>
		
		<tr>	<div class="col-md-3 soci" >
				<h3>Follow Us</h3>
                <div style="float:left;">
				<ul>
						<li><a href="#"><i class="facebk"> </i></a></li>
						<li><a href="#"><i class="twter"> </i></a></li>
						<li><a href="#"><i class="goopl"> </i></a></li>
						<li><a href="#"><i class="insta"> </i></a></li>
							<div class="clearfix"></div>	
					</ul>
                </div>
            </div><tr>
			
		<tr>	<div class="col-md-3 footer-left">
				<h3>Our Location</h3>
				<li><i class="add"> </i>Harry</li>
				<li><i class="phone"> </i>1234567890</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
			</div></tr>
		<tr>		<div class="clearfix"> </div>
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="" target="_blank" title="Take">Take What U Want</a> - Collect from 
		</div></tr>
		<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
	</div>
</table>
</footer>
<html>