<table>
<td>
<div style="float:left;width:400px; height:400px; margin:100px auto;" >
						<font color="blue" size=5 >
						<li><a href="/admin">*Admin</a></li>&nbsp;&nbsp;
						<li><a href="/AdminManage">*Personal Information Update</a></li>&nbsp;&nbsp;
						<li><a href="/membership">*membership</a></li>&nbsp;&nbsp;
						<li><a href="/allorders">*All Orders</a></li>&nbsp;&nbsp;
						<li><a href="/item_Category_add">*Add product</a></li>&nbsp;&nbsp;
						<li><a href="/showAllItems">*all selling product</a></li>
						</font>
							<div class="clearfix"> </div>
					
</div></td>
